In [1]:
from glob import glob
import numpy as np
import json
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
dataset_images_path = "face_dataset/images/"
output_file = "face_dataset/train_test_images.csv"

In [3]:
def get_image_from_path(image_path):
    import os
    jpeg_path = os.path.join(image_path, "*.jpeg")
    jpg_path = os.path.join(image_path, "*.jpg")
    png_path = os.path.join(image_path, "*.png")
    return glob(jpeg_path) + glob(jpg_path) + glob(png_path)

In [4]:
dataset = get_image_from_path(dataset_images_path)
len(dataset)

30000

In [5]:
train, test = train_test_split(pd.DataFrame(dataset,columns=["image_path"]), test_size=0.2, random_state=12)

In [6]:
train["train"] = True
train["test"] = False
test["train"] = False
test["test"] = True

In [7]:
data_frame = pd.concat([train,test])

In [8]:
data_frame

                          image_path  train   test
25371  face_dataset/images/20712.jpg   True  False
11276   face_dataset/images/3247.jpg   True  False
15991   face_dataset/images/7615.jpg   True  False
7315   face_dataset/images/15950.jpg   True  False
9304    face_dataset/images/8391.jpg   True  False
...                              ...    ...    ...
21741  face_dataset/images/27331.jpg  False   True
16235   face_dataset/images/9575.jpg  False   True
25587  face_dataset/images/20759.jpg  False   True
6281   face_dataset/images/24752.jpg  False   True
29330  face_dataset/images/27865.jpg  False   True

[30000 rows x 3 columns]

In [9]:
data_frame.to_csv(output_file,index=False)